<!--
The Onions - Ishraq Mahid, Lucas Tom-Wong (LTW), Tomas Acuna
SoftDev
P00-homepage -- Moving Slowly -- No Place Like Home
2021-10-29
 -->
<!DOCTYPE html>

<html>

<head>
    <title> Login Page </title>
</head>

<body>
  <p>
      {{extra_Message}}
  </p>
  <p> Welcome to story improv </p>
</body>

<body>
    <h1>
      Please enter your login information.
    </h1>
    <form action="/auth_ed" method = "POST">
        Username:
        <input type="text" name="username">
        <br>
        Password:
        <input type="password" name="password">
        <br>
        <input type="submit" value="Login"> <!-- Allows you to return text as a username and press a submit button -->
    </form>
</body>
<!--First body for entering login credentials -->

<body>
    <!--<form action="/forgotPassword" method = "GET"> -->
    <p><a href="/register">Click here to register.</a></p>
</body>
<!-- Second body for registering new account -->

</html>
